<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>Third Line</span>
  <span class="example-spacer"></span>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="mr-5" mat-button >Buscar</button>

  </form>
  <div *ngIf="loged()">
    <button class="mr-3" mat-raised-button color="accent"  (click)="openLogin()" >Log in</button>
    <button mat-raised-button color="warn" (click)="openRegister()">Register</button>
  </div>
  <div *ngIf="!loged()">
      <button class="mr-3" mat-raised-button color="accent"  (click)="openLogin()" >Perfil</button>
    </div>
</mat-toolbar-row>
</mat-toolbar>