<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<img src="" alt="">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <img style="height: 300px; width: 100%; display: block;"
          src="https://okdiario.com/img/2019/05/27/dia-mundial-de-la-hamburguesa-655x368.jpg" alt="Card image">
      </div>
      <div id="titulo-imagen-restaurante" class="">
        <h4 id="texto-titulo-imagen-restaurante">restaurante el comelon :v</h4>
      </div>
    </div>
    <div class="col-md-6">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Atencion
          </mat-panel-title>
          <mat-panel-description>
            Abierto hasta las 6:00 PM &nbsp; &nbsp;<h6>
              {{panelOpenState ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cerrar' : 'ver mas horarios'}}
            </h6>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lunes</p>
        <p>Martes</p>
        <p>Miercoles</p>
        <p>Jueves</p>
        <p>Viernes</p>
        <p>Sabado</p>
        <p>Domingo</p>
      </mat-expansion-panel>
      <small style="padding-left: 15px">tambien atendemos feriados</small><small class=""
        style="float: right; padding-right:15px "><img height="50px" style="margin-right: -25px" width="50px"
          src="../../../assets/soles.svg" alt=""><img height="50px" style="margin-right: -25px" width="50px"
          src="../../../assets/soles.svg" alt=""><img height="50px" style="margin-right: -25px" width="50px"
          src="../../../assets/soles.svg" alt=""></small>
    </div>
  </div>
</div>

<!--
<div class="containter mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">

      <body id="bodyrest">
        <div id="scene">
          <div id="left-zone">
            <ul class="list">
              <li class="item">
                <input type="radio"
                  id="radio_The garden strawberry (or simply strawberry /ˈstrɔːbᵊri/; Fragaria × ananassa) is a widely grown hybrid species of the genus Fragaria (collectively known as the strawberries)"
                  name="basic_carousel"
                  value="The garden strawberry (or simply strawberry /ˈstrɔːbᵊri/; Fragaria × ananassa) is a widely grown hybrid species of the genus Fragaria (collectively known as the strawberries)"
                  checked="checked" />
                <label class="label_strawberry"
                  for="radio_The garden strawberry (or simply strawberry /ˈstrɔːbᵊri/; Fragaria × ananassa) is a widely grown hybrid species of the genus Fragaria (collectively known as the strawberries)">strawberry</label>
                <div class="content content_strawberry"><span class="picto"></span>
                  <h1>strawberry</h1>
                  <p>The garden strawberry (or simply strawberry /ˈstrɔːbᵊri/; Fragaria × ananassa) is a widely grown
                    hybrid species of the genus Fragaria (collectively known as the strawberries)</p>
                </div>
              </li>
              <li class="item">
                <input type="radio"
                  id="radio_A banana is an edible fruit, botanically a berry, produced by several kinds of large herbaceous flowering plants in the genus Musa."
                  name="basic_carousel"
                  value="A banana is an edible fruit, botanically a berry, produced by several kinds of large herbaceous flowering plants in the genus Musa." />
                <label class="label_banana"
                  for="radio_A banana is an edible fruit, botanically a berry, produced by several kinds of large herbaceous flowering plants in the genus Musa.">banana</label>
                <div class="content content_banana"><span class="picto"></span>
                  <h1>banana</h1>
                  <p>A banana is an edible fruit, botanically a berry, produced by several kinds of large herbaceous
                    flowering plants in the genus Musa.</p>
                </div>
              </li>
              <li class="item">
                <input type="radio"
                  id="radio_The apple tree (Malus domestica) is a deciduous tree in the rose family best known for its sweet, pomaceous fruit, the apple. It is cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus."
                  name="basic_carousel"
                  value="The apple tree (Malus domestica) is a deciduous tree in the rose family best known for its sweet, pomaceous fruit, the apple. It is cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus." />
                <label class="label_apple"
                  for="radio_The apple tree (Malus domestica) is a deciduous tree in the rose family best known for its sweet, pomaceous fruit, the apple. It is cultivated worldwide as a fruit tree, and is the most widely grown species in the genus Malus.">apple</label>
                <div class="content content_apple"><span class="picto"></span>
                  <h1>apple</h1>
                  <p>The apple tree (Malus domestica) is a deciduous tree in the rose family best known for its sweet,
                    pomaceous fruit, the apple. It is cultivated worldwide as a fruit tree, and is the most widely grown
                    species in the genus Malus.</p>
                </div>
              </li>
              <li class="item">
                <input type="radio"
                  id="radio_The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in the family Rutaceae."
                  name="basic_carousel"
                  value="The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in the family Rutaceae." />
                <label class="label_orange"
                  for="radio_The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in the family Rutaceae.">orange</label>
                <div class="content content_orange"><span class="picto"></span>
                  <h1>orange</h1>
                  <p>The orange (specifically, the sweet orange) is the fruit of the citrus species Citrus × sinensis in
                    the family Rutaceae.</p>
                </div>
              </li>
            </ul>
          </div>
          <div id="middle-border"></div>
          <div id="right-zone"></div>
        </div>
      </body>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="fwImage col span_4">
    <div id="gallery-2" class="royalSlider rsUni">
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/1.jpg" href="http://placehold.it/700x500/ooff33/"
        data-rsw="400" data-rsh="500">Vincent van Gogh - Still Life: Vase with
        Twelve Sunflowers<img width="96" height="72" class="rsTmb" src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/2.jpg" href="http://placehold.it/700x500/ooff14/"
        data-rsw="632" data-rsh="500">Vincent van Gogh - The Starry Night<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/3.jpg" href="http://placehold.it/700x500/oooooo/"
        data-rsw="336" data-rsh="500">Leonardo da Vinci - Mona Lisa<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/4.jpg" href="http://placehold.it/700x500/ffffff/"
        data-rsw="417" data-rsh="500">Grant DeVolson Wood - American
        Gothic<img width="96" height="72" class="rsTmb" src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/5.jpg" href="http://placehold.it/700x500/offff3/"
        data-rsw="601" data-rsh="500">Rembrandt - The Night Watch<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/6.jpg" href="http://placehold.it/700x500/o3f3f3/"
        data-rsw="350" data-rsh="500">Johannes Vermeer - Girl with a Pearl
        Earring<img width="96" height="72" class="rsTmb" src="http://placehold.it/96x72/ooff33/"/></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/7.jpg" href="http://placehold.it/700x500/oof3f3/"
        data-rsw="596" data-rsh="500">Paul Cezanne - Card Players<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/8.jpg" href="http://placehold.it/700x500/oo4433/"
        data-rsw="700" data-rsh="500">Ilya Repin - Reply of the Zaporozhian
        Cossacks<img width="96" height="72" class="rsTmb" src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/9.jpg" href="http://placehold.it/700x500/ffff33/"
        data-rsw="470" data-rsh="500">Ivan Aivazovsky - Chesmabattle<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/10.jpg" href="http://placehold.it/700x500/oo3333/"
        data-rsw="500" data-rsh="500">Gustav Klimt - The Kiss<img width="96" height="72" class="rsTmb"
          src="http://placehold.it/96x72/ooff33/" /></a>
      <a class="rsImg" data-rsBigImg="/plugins/royal-slider/img/paintings/11.jpg" href="http://placehold.it/700x500/ooff44/"
        data-rsw="700" data-rsh="475">Ivan Shishkin - Morning in a Pine
        Forest<img width="96" height="72" class="rsTmb" src="http://placehold.it/96x72/ooff33/" /></a>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function () {
    $('#gallery-2').royalSlider({
      fullscreen: {
        enabled: true,
        nativeFS: true
      },
      controlNavigation: 'thumbnails',
      thumbs: {
        orientation: 'vertical',
        paddingBottom: 4,
        appendSpan: true
      },
      transitionType: 'fade',
      autoScaleSlider: true,
      autoScaleSliderWidth: 960,
      autoScaleSliderHeight: 600,
      loop: true,
      arrowsNav: false,
      keyboardNavEnabled: true

    });
  });

</script>