<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


  <div class="container mt-5">
    <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <img style="height: 300px; width: 100%; display: block;"
          src="https://okdiario.com/img/2019/05/27/dia-mundial-de-la-hamburguesa-655x368.jpg" alt="Card image">
      </div>
      <div id="titulo-imagen-restaurante" class="">
        <h4 id="texto-titulo-imagen-restaurante">restaurante el comelon :v</h4>
      </div>
    </div>
    <div class="col-md-6">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Atencion
          </mat-panel-title>
          <mat-panel-description>
            Abierto hasta las 6:00 PM  &nbsp; &nbsp;<h6>{{panelOpenState ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cerrar' : 'ver mas horarios'}}</h6>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lunes</p>
        <p>Martes</p>
        <p>Miercoles</p>
        <p>Jueves</p>
        <p>Viernes</p>
        <p>Sabado</p>
        <p>Domingo</p>
      </mat-expansion-panel>
      <small style="padding-left: 15px">tambien atendemos feriados</small><small class="" style="float: right; padding-right:15px "><img height="50px" style="margin-right: -25px" width="50px" src="../../../assets/soles.svg" alt=""><img height="50px" style="margin-right: -25px" width="50px" src="../../../assets/soles.svg" alt=""><img height="50px" style="margin-right: -25px" width="50px" src="../../../assets/soles.svg" alt=""></small>
    </div>
  </div>
  </div>